{% extends 'base.html' %}
<!DOCTYPE html>

{% block body %}
  <body>

    <div class="container">

      <form class="form-signin col-lg-offset-4" method="post" style="width: 300px;">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <div style="color: red">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->



  </body>
{% endblock %}
